parameters:
	level: 7
	paths:
		- src
		- tests
	bootstrapFiles:
		- src/bootstrap.php
	ignoreErrors:
		-
			message: '#Strict comparison using === between true and false will always evaluate to false#'
			path: src/bootstrap.php
